/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
} */
* {
  box-sizing: border-box;
}
.background {
  background: url(2.JPG) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}
.float-left {
  float: left;
  width: 150px;
  background: transparent;
  margin-top: 50px;
  margin-left: 20px;
  padding: 0px;
}

.float-right {
  float: right;
}
*/
/* * .background {
  background: url(2.JPG) no-repeat;
  background-size: cover;
} */
.bdy {
  margin-top: 20px;
}
.back {
  background-color: white;
  opacity: 0.89;
}
.bucket {
  float: right;
  margin-right: 20px;
}
.cart {
  opacity: 0.9;
  float: left;
  padding: 0;
}
.row1 {
  display: flex;
  justify-content: space-between;
}
/* .colm-1 {
  flex: 1;
  margin-left: 200px;
} */
/* .colm-2 {
  flex: 2;
  width: 600px;
} */
.row1.center {
  align-items: center;
}
.block1 {
  background-color: white;
  opacity: 0.8;
  border-radius: 25px;
  /* padding: 1rem;
  margin: 0.5rem; */
}

/* .withe {
  width: 500px;
  float: right;
  height: 0px;
} */

/*new css*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}

.grid-container1 {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  /* height: 100%; */
}

.content2 {
  display: flex;
  flex-wrap: wrap;
}
.sidebartextakign{
  text-align: center;
}

.main {
  grid-area: main;
}

.sidebar2 {
  flex: 1 20rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}

li {
  float: left;
}
.right {
  margin-left: 800px;
  background-color: white;
  opacity: 0.9;
}
.left1 {
  /* margin-right: 20%; */
}

.row_shops{
  margin: auto;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.box2 {
  background-color: lightgrey;

  padding: 10px;
  margin: 20px;
}
