
.bdy {
  margin-top: 20px;
}
.back {
  background-color: white;
}
.backgroundcolorinshop{
  background-color: rgb(235, 235, 235);
}
.bucket {
  float: right;
  margin-right: 20px;
}
.textcolourchange{
  color: aliceblue;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

.row1.center {
  align-items: center;
}
.block1 {
  background-color: white;
  opacity: 0.8;
  border-radius: 25px;
  
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

main {
  grid-area: main;
}

.sidebar {
  flex: 1 20rem;
}
