.itemccenter12 {
  margin-left: 20%;
}
.box78 {
  margin-top: 50px;
  flex: 1;
  float: right;
  font-size: 15px;
  line-height: 15px;
}
.squreSeller {
  height: auto;
  width: 325px;
  background-color: #555;
  border-radius: 20px;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.itemcenter78 {
  margin-left: 25px;
}
.color78 {
  color: rgb(255, 255, 255);
}
.textcenter78 {
  text-align: center;
}
.sellerregisteritem{
  align-items: center;
}
